@font-face {
    font-family: "Lato";
    src: url(../Font/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Cardo";

    src: url(../Font/Cardo/Cardo-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 40px auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.overflow_hidden {
    overflow: hidden;
}

.nav ul li {
    display: inline-block;
    padding-right: 30px;
    font-family: "Lato";
    font-size: 20px;

}

.nav li a {
    color: #232323;
    text-decoration: none;
}

button {
    background-color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Lato";
}

.col1 {
    width: 30%;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.banner_left {


    left: -34em;
    z-index: -1;
}

.banner_right {
    /* position: static; */
    top: 83px;
    left: 71em;
    z-index: -1;

}

.col1 h1,
.col45 h1 {
    font-family: "Cardo";
    font-size: 65px;
    font-weight: 700px;
}

.col1 button {
    background-color: #232323;
    color: #e9e7e7;
}

p {
    font-family: "Lato";
    text-align: justify;

}

.col_100 {

    width: 100%;

}

.bg_color {
    background-color: black;
}

.sec2left {
    top: 28px;
    left: -109px;
}

.sec2right {
    left: 58em;
    bottom: 3em;
}

.sec2left_dark {
    top: 19em;
    left: -6em;
}

.sec2right_dark {
    top: 38.5em;
    right: -3em;
}

.col40 {
    width: 40%;
    color: #e9e7e7;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.col40 h2 {
    font-size: 40px;
    font-family: "Cardo";
}

.col40 button {

    background-color: transparent;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Lato";
    color: white;
    border: 1px solid white;
}

.col30 {
    width: 30%;
    /* border: 1px solid; */

}

.mx {
    margin: 50px auto;
}

span {
    width: 10%;
    height: 2px;
    background-color: black;
    display: block;
    margin-top: 20px;
}

.col30 h2 {
    width: 50%;
    font-family: "Cardo";
    /* font-weight: bolder; */
    margin: 20px 0px;
}

.sec3_light {
    right: -27em;
}

.sec3_dark {
    top: 30em;
    left: 7em;
}

.col45 {
    margin: 12em auto;
    width: 45%;
    text-align: center;

}

.col45 p {
    text-align: center;
    font-weight: bold;
}

.fa-solid {
    font-size: 50px;
}

.col50 {
    width: 50%;

}

.col50_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;
}
.tape{
    top: 17em;
    left: -2em;
}
.col50_40 {
    width: 40%;
    font-family: "Cardo";
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
}

.col50_50 {
    width: 50%;
    padding-top: 15px;
    text-indent: 1;

}

.fa-arrow-right {
    font-size: 50px;
    text-align: end;
    /* position: relative; */
    top: 137px;
    left: 225px;
}

.col {
    width: 100%;
    background-color: black;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */

}

.text {
    width: 50%;
    color: white;
    padding: 0px 50px;

}

.img {
    width: 45%;

}
.sec5_light{
    bottom: -46px;
    left: -165px;

}
.box1 {
    padding-bottom: 42px;
    font-family: "Cardo";
    font-size: 40px;
}

.box2 {
    padding-top: 55px;

}

.box2 h4 {
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: "Lato";
    padding-bottom: 10px;
}

.col-text {
    width: 60%;
}

.col-img {
    width: 30%;
}

.sectxt {
    font-size: 81px;
    letter-spacing: -2px;
    line-height: 81px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    padding-bottom: 90px;
}

.secline {
    /* width: 1404px; */
    /* height: 39px; */
    font-size: 17px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    text-align: left;
    line-height: 55px;
    text-indent: 20px;
}

.line_all {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.line_bottom {
    border-bottom: 1px solid black;
}

.fa-plus {
    /* display: block; */
    text-align: center;
    font-size: 20px;
    padding-left: 80px;
}

.pad_t_b {
    padding: 80px 0px;
}
.sec7_right{
    bottom: -26px;
    right: -216px;
}
.sec7_txt {
    /* width: 50%; */
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 81px;
    color: #232323;
    font-weight: 500;
    font-family: "Cardo";
    text-align: center;
    margin: 0 auto;
}


.circle i {
    /* padding: 30px 30px; */
    color: white;
    background-color: #232323;
    border-radius: 50px;
    font-size: 80px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.sec7_box {
    border: 1px solid;
    border-radius: 5px;
    padding: 85px 25px;
    text-align: center;
    /* justify-content: center; */
}

.sec7_box h3 {
    padding: 20px 0px;
}

.sec7_box p {

    /* text-align: justify; */
    text-align: center;

}

.larrow {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    top: 39%;
    left: -20px;
    background-color: white;
}

.position_rel {
    position: relative;
}

.position_abs {
    position: absolute;
}

.rarrow {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    top: 39%;
    right: -11px;
    background-color: white;
}

.col60 {
    width: 60%;
}

#form1 input,
#form1 textarea,
.submit_btn {
    width: 100%;
    margin: 20px 0px;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 21px;
    line-height: 17px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
}

.submit_btn {
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 27px;
}

.col35 {
    width: 35%;
}

.col35 h2 {
    font-size: 75px;
    letter-spacing: -2px;
    line-height: 100px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}

.footer {
    background-color: #c4c4c4
}
.footer_line{
    bottom: 2em;
    left: -29em;
}
.col25 {
    width: 25%;
    font-size: 63px;
    letter-spacing: -2px;
    line-height: 63px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    margin-top: 75px;
}

.col20 {
    width: 20%;
    margin: 20px 0;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    text-align: left;
}

F .col20 div {
    margin: 20px 0;
}

.col75 {
    width: 70%;
}

.footer-text {
    padding: 10px 0;
    font-size: 20px;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #232323;
    font-weight: 900;
    font-family: "Lato";
}

.f_txt {
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    padding-bottom: 70px;
}
/* @media (min-width:576px) {
    .container { 
        max-width: 540px;
    }
    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
    }
    .col40{
        width: 100%;
    }
    .col30{
        width: 100%;
    }
    .col45{
        width: 100%;
    }
    .col50{
        width: 100%;
    }
   
} */